*{
margin:0px;
padding:0px
}
img{
border:0px;
}
html{
width:100%;
height:100%;
}
body{
min-width: 412px;  
margin:0 auto;
font-family:Verdana;
font-size:11px;
color:#565656;
position:relative
}
#container {
padding-left: 172px; 
padding-right: 238px;
height:100%
}
#header{
	padding-top:10px;
	height:20%;
	border:1px solid #C5C5C5;	
}
#login{
	float:right;
	height:50px;
	width:120px;
	border:1px solid #C5C5C5;
}
#addtocart{
	float:right;
	height:50px;
	width:200px;
	border:1px solid #C5C5C5;
}
#navigation{
float:left;
width:985px;
list-style-type:none;
padding:0px;
margin:12px 0 12px 0px;
/ margin:-5px 0 6px -23px;
}
#navigation li{
float:left;
}
#content{
	margin-top:10px;
	height:80%;
	border:1px solid #C5C5C5;
}
#category{
	margin-top:10px;
	width:25%;
	height:90%;
	float:left;
	border:1px solid #C5C5C5;
}
#main{
	margin-top:10px;
	width: 72%;
	height:90%;
	float:right;
	border:1px solid #C5C5C5;
}
#footer{
	text-align:center;
	padding:10px;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigation li {
    float: left;
}

#navigation a {
    display: block;
    width: 120px;
    text-align:center;
    height:20px;
    background-color: #dddddd;
}

#category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	text-align: center;
}

#category a{
    display: block;
    width: 100px;
    height:50px;
    background-color: #dddddd;
}


/* cart style - start*/	
.cart_menu{
  background: #FE980F;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.btn-primary {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  margin-top: 16px;
  padding:10px;
}

a{
    text-decoration: none !important;;
    color: black;
}

/* cart style - stop*/

